{% extends "!layout.html" %}


{%- block content %}

  {# checkbox to toggle primary sidebar #}
  <input type="checkbox" class="sidebar-toggle" name="__primary" id="__primary">
  <label class="overlay overlay-primary" for="__primary"></label>

  {# Checkboxes to toggle the secondary sidebar #}
  <input type="checkbox" class="sidebar-toggle" name="__secondary" id="__secondary">
  <label class="overlay overlay-secondary" for="__secondary"></label>

  {# A search field pop-up that will only show when the search button is clicked #}
  <div class="search-button__wrapper">
    <div class="search-button__overlay"></div>
    <div class="search-button__search-container">
      {% include "../components/search-field.html" %}
    </div>
  </div>

  {%- if theme_announcement -%}
  <div class="bd-header-announcement container-fluid" id="header-announcement">
    {% include "sections/announcement.html" %}
  </div>
  {%- endif %}

  {% block docs_navbar %}
  <nav class="bd-header navbar navbar-expand-lg bd-navbar" id="navbar-main">
    {%- include "sections/header.html" %}
  </nav>
  {% endblock %}

  <div class="bd-container">
    <div class="bd-container__inner bd-page-width">
      {# Primary sidebar #}
      <div class="bd-sidebar-primary bd-sidebar{% if not sidebars %} hide-on-wide{% endif %}">
        {% include "sections/sidebar-primary.html" %}
        <div id="rtd-footer-container"><!-- Inserted RTD Footer -->
          <div class="rst-versions rst-badge shift-up" data-toggle="rst-versions">
            <span class="rst-current-version" data-toggle="rst-current-version">
              <span class="fa fa-book">Other versions</span>
              v: {{ current_version.name }}
              <!-- <span class="fa fa-caret-down"></span> -->
            </span>
            <div class="rst-other-versions">          
                {%- if versions.tags %}
                <dl>
                  <dt>Tags</dt>
                  {%- for item in versions.tags %}
                  <dd><a href="{{ item.url }}">{{ item.name }}</a></dd>
                  {%- endfor %}
                </dl>
                {%- endif %}
                {%- if versions.branches %}
                <dl>
                  <dt>Branches</dt>
                  {%- for item in versions.branches %}
                  <dd><a href="{{ item.url }}">{{ item.name }}</a></dd>
                  {%- endfor %}
                </dl>
                {%- endif %}
            </div>
          </div>
        </div>
      </div>
      <main id="main-content" class="bd-main">
        {# Main content area #}
        {% block docs_main %}
        {# A tiny helper pixel to detect if we've scrolled #}
        <div class="sbt-scroll-pixel-helper"></div>
        <div class="bd-content">
          <div class="bd-article-container">
            {# Article header #}
            <div class="bd-header-article">
                {% include "sections/header-article.html" %}
            </div>
            {# Article content #}
            {% block docs_body %}
              {# Table of contents that is only displayed when printing the page #}
              <div id="jb-print-docs-body" class="onlyprint">
                  <h1>{{ pagetitle }}</h1>
                  <!-- Table of contents -->
                  <div id="print-main-content">
                      <div id="jb-print-toc">
                          {% set page_toc = generate_toc_html() %}
                          {%- if page_toc | length >= 1 %}
                          <div>
                              <h2> {{ translate(theme_toc_title) }} </h2>
                          </div>
                          <nav aria-label="Page">
                              {{ page_toc }}
                          </nav>
                          {%- endif %}
                      </div>
                  </div>
              </div>
              <article class="bd-article" role="main">
                {% block body %} {% endblock %}
              </article>
            {% endblock %}
            {# Article Footer #}
            {% if theme_show_prev_next %}
            <footer class="bd-footer-article">
                {% include "sections/footer-article.html" %}
            </footer>
            {% endif %}
          </div>
          {# Secondary sidebar #}
          {% block docs_toc %}
          {% if not remove_sidebar_secondary %}
            <div class="bd-sidebar-secondary bd-toc">
              {% include "sections/sidebar-secondary.html" %}
            </div>
          {% endif %}
          {% endblock %}
        </div>
        <footer class="bd-footer-content">
          <div class="bd-footer-content__inner">
            {% include "sections/footer-content.html" %}
          </div>
        </footer>
        {% endblock %}
      </main>
    </div>
  </div>

  {# Scripts placed at the end of the page to cut down on time to first content #}
  {%- block scripts_end %}
    {{ _webpack.body_post() }}
  {%- endblock %}

{%- endblock %}